@{
    ViewData["Title"] = "Game Page";
}

<div class="text-center">
    <h1 class="display-4">Stock Simulator Game</h1>

    <p>Press the Start button to begin</p>

    <p>
        <a asp-action="StartGame" class="btn btn-primary" role="button" >Start Game</a>
    </p>
</div>
